<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head">
</head>

<body>
<header>
    <nav th:replace="fragments/navbar">
    </nav>
</header>
<main class="p-5 align-content-center bg-blur my-main">
    <h2 class="text-light border-bottom">
        <span th:text="|Total sold copies of all albums: ${totalCopies}|"></span>
        </h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4 box-shadow"
                 th:each="album : ${albumsViewModels}"
                 th:object="${album}">
                <img src="/img/metallica.jpg" class="card-img-top" alt="Thumbnail [100%x225]"
                     data-holder-rendered="true"
                     style="height: 225px; width: 100%; display: block;">
                <div
                        class="card-body">
                    <div class="text-center">
                        <p class="card-text border-bottom "><span th:text="|Name: *{name}|"></span></p>
                        <p class="card-text border-bottom "><span th:text="|Artist: *{artist}|"></span></p>
                        <p class="card-text border-bottom "><span th:text="|Genre: *{genre}|"></span></p>
                        <p class="card-text border-bottom "><span th:text="|Price: *{price}|"></span></p>
                        <p class="card-text border-bottom"><span th:text="|Release Date: *{releaseDate}|"></span></p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <th:block th:if="${@currentUser.id} == *{userId}">
                            <form
                                    th:action="@{/albums/{id}(id=*{id})}"
                                    th:method="delete">
                                <input type="submit" class="btn btn-link" value="Delete"/>
                            </form>
                        </th:block>

                        <small class="text-muted"><span th:text="|*{copies} copies|"></span></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer">
</footer>

</body>
</html>
