<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cookies</title>
</head>
<body>

Preferred language: <span th:text="${language}"></span><br/>

<form
        th:action="@{/cookies}"
        method="post">
    <select
            id="language"
            name="language"
    >
        <option value="en" th:selected="(${language} == 'en')">English</option>
        <option value="de" th:selected="(${language} == 'de')" >German</option>
        <option value="bg" th:selected="(${language} == 'bg')" >Български</option>
        <input type="submit" value="Submit preference">
    </select>
</form>

</body>
</html>